@model IEnumerable<ReviewKaro.Models.RecievedReview>

<div  class="tablediv">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayName("Agenda")
            </th>

            <th>
                @Html.DisplayName("Rating Obtained")
            </th>

            <th>
                @Html.DisplayName("Maximum Rating")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ReviewAgenda
                </td>

                <td>
                    @item.TotalRating
                </td>

                <td>
                    @item.MaximumRating
                </td>
            </tr>
        }

    </table>
</div>